<mat-sidenav-container class="example-container" style="height: 100vh;">
  <!-- Sidebar -->
  <mat-sidenav
    #sidenav
    [mode]="isMobile ? 'over' : 'side'"
    [opened]="!isMobile || showSidebar"
    style="width: 100%; max-width: 300px;"
  >
    <div class="w-100 p-0">
      <h3 class="fw-bold mb-4 ps-3 pt-3">Settings</h3>

      <div class="d-flex flex-column">
        <a [routerLink]="['firm']" routerLinkActive="settings-option.active active"
           class="text-decoration-none settings-option d-flex flex-column w-100 px-3 py-3">
          <div class="fw-semibold text-primary">Company</div>
          <small class="text-muted">Manage your company profile and private information</small>
        </a>

        <a [routerLink]="['employee']" routerLinkActive="settings-option.active active"
           class="text-decoration-none settings-option d-flex flex-column w-100 px-3 py-3">
          <div class="fw-semibold text-primary">Account</div>
          <small class="text-muted">Manage your employees profile and private information</small>
        </a>

        <a [routerLink]="['assignment']" routerLinkActive="settings-option.active active"
           class="text-decoration-none settings-option d-flex flex-column w-100 px-3 py-3">
          <div class="fw-semibold text-primary">Location Assignment</div>
          <small class="text-muted">Manage your employees profile and private information</small>
        </a>

        <a routerLinkActive="settings-option.active active"
           class="text-decoration-none settings-option d-flex flex-column w-100 px-3 py-3">
          <div class="fw-semibold">Security</div>
          <small class="text-muted">Manage your password and 2-step verification preferences</small>
        </a>
      </div>
    </div>
  </mat-sidenav>

  <!-- Main content -->
  <mat-sidenav-content class="bg-light" style="height: 100vh; overflow-y: auto;">
    <div class="p-3">
      <button class="btn btn-primary d-md-none" (click)="sidenav.toggle()">Show Sidebar</button>

      <!-- Your main scrollable content -->
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
