<div class="container-fluid mt-0" >
    <div class="row">
        <div class="col-md-12" >
            <div class="d-flex justify-content-between p-2">
                
                @if(isEditMode){
                    <h2>Update Product</h2>
                    <button (click)="New()" class="btn btn-primary rounded-pill px-3 btn-sm" type="button">
                        <div class="p-2 d-inline">
                            <i class="fa fa-plus"></i>
                        </div>
                        Add
                    </button>
                }
                @else{
                    <h2>Add Product</h2>
                }
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="h-100 bg-body-tertiary border rounded-3">
                <mat-horizontal-stepper linear #stepper >
                    <mat-step [stepControl]="productDetailForm">
                        <ng-template matStepLabel>Item Details</ng-template>
                        <form [formGroup]="productDetailForm" (ngSubmit)="saveProduct(stepper)" style=" border: solid 0px red;">
                            <div class="row g-3">
                                <div class="col-12">
                                    <label for="firstName" class="form-label">Product Type</label>
                                    <br>
                                    <div class="form-check form-check-inline">
                                        <input checked class="form-check-input" (change)="disableValidation()" type="radio" [value]="1" formControlName="itemTypeId" >
                                        <label class="form-check-label" for="inlineRadio1">Single</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" (change)="disableValidation()" type="radio"  [value]="2"  formControlName="itemTypeId">
                                        <label class="form-check-label" for="inlineRadio2">Multiple</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" (change)="disableValidation()" type="radio" [value]="3"  formControlName="itemTypeId">
                                        <label class="form-check-label" for="inlineRadio3">Anonymous</label>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <label class="form-label">Name</label>
                                    <input type="text" class="form-control" hidden formControlName="id">
                                    <input type="text" class="form-control" placeholder="Product Name" formControlName="title">
                                    <div *ngIf="productDetailForm.controls['title']?.touched && productDetailForm.controls['title']?.invalid ">
                                        <span class="text-danger">
                                            <small *ngIf="productDetailForm.controls['title']?.errors?.['required']">Title is required.</small>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <label class="form-label">description</label>
                                    <input type="text" class="form-control" placeholder="Description"  formControlName="description">
                                </div>
                                <div class="col-sm-2">
                                    <label class="form-label">emi</label>
                                    <input type="text" class="form-control"  placeholder="emi"  formControlName="emi" >
                                    <div *ngIf="productDetailForm.controls['emi']?.touched && productDetailForm.controls['emi']?.invalid ">
                                        <span class="text-danger">
                                            <small *ngIf="productDetailForm.controls['emi']?.errors?.['required']">EMI is required.</small>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <label for="state" class="form-label">Model</label>
                                    <select class="form-select" formControlName="modelId">
                                        <option value="" disabled selected>Select</option>
                                        <option *ngFor="let option of model" [value]="option.id">{{ option.name }}</option>
                                    </select>
                                    <div *ngIf="productDetailForm.controls['modelId']?.touched && productDetailForm.controls['modelId']?.invalid ">
                                        <span class="text-danger">
                                            <small *ngIf="productDetailForm.controls['modelId']?.errors?.['required']">Model selected is required.</small>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <label class="form-label">Price</label>
                                    <input type="number"  class="form-control"  placeholder="Price"  formControlName="price">
                                    <div *ngIf="productDetailForm.controls['price']?.touched && productDetailForm.controls['price']?.invalid ">
                                        <span class="text-danger">
                                            <small *ngIf="productDetailForm.controls['price']?.errors?.['required']">Price is required.</small>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <label class="form-label">Quantity</label>
                                    <input type="number" class="form-control"  placeholder="stock"  formControlName="stock">
                                    <div *ngIf="productDetailForm.controls['stock']?.touched && productDetailForm.controls['stock']?.invalid ">
                                        <span class="text-danger">
                                            <small *ngIf="productDetailForm.controls['stock']?.errors?.['required']">Stock is required.</small>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <label for="firstName" class="form-label">Color</label>
                                    <input type="text" class="form-control" placeholder="color" formControlName="color">
                                    <div *ngIf="productDetailForm.controls['color']?.touched && productDetailForm.controls['color']?.invalid ">
                                        <span class="text-danger">
                                            <small *ngIf="productDetailForm.controls['color']?.errors?.['required']">Color is required.</small>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <label for="firstName" class="form-label">Condition</label>
                                    <select class="form-select" formControlName="condition">
                                        <option value="">Choose...</option>
                                        <option>Brand New</option>
                                        <option>New</option>
                                        <option>Used</option>
                                    </select>
                                    <div *ngIf="productDetailForm.controls['condition']?.touched && productDetailForm.controls['condition']?.invalid ">
                                        <span class="text-danger">
                                            <small *ngIf="productDetailForm.controls['condition']?.errors?.['required']">Condition selected is required.</small>
                                        </span>
                                    </div>
                                </div>
                                
                                <div class="col-sm-2">
                                    <label for="state" class="form-label">Brand</label>
                                    <select class="form-select" formControlName="brandId">
                                        <option value="" disabled selected>Select</option>
                                        <option *ngFor="let option of brands" [value]="option.id">{{ option.name }}</option>
                                    </select>
                                    <div *ngIf="productDetailForm.controls['brandId']?.touched && productDetailForm.controls['brandId']?.invalid ">
                                        <span class="text-danger">
                                            <small *ngIf="productDetailForm.controls['brandId']?.errors?.['required']">Brand selected is required.</small>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <label for="state" class="form-label">Storage</label>
                                    <select class="form-select" formControlName="storageId">
                                        <option value="" disabled selected>Select</option>
                                        <option *ngFor="let option of storage" [value]="option.id">{{ option.name }}</option>
                                    </select>
                                    <div *ngIf="productDetailForm.controls['storageId']?.touched && productDetailForm.controls['storageId']?.invalid ">
                                        <span class="text-danger">
                                            <small *ngIf="productDetailForm.controls['storageId']?.errors?.['required']">Storage selected is required.</small>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <label for="state" class="form-label">Network</label>
                                    <select class="form-select" formControlName="mobileNetworkId">
                                        <option value="" disabled selected>Select</option>
                                        <option *ngFor="let option of mobileNetwork" [value]="option.id">{{ option.name }}</option>
                                    </select>
                                    <div *ngIf="productDetailForm.controls['mobileNetworkId']?.touched && productDetailForm.controls['mobileNetworkId']?.invalid ">
                                        <span class="text-danger">
                                            <small *ngIf="productDetailForm.controls['mobileNetworkId']?.errors?.['required']">Network selected is required.</small>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <label for="state" class="form-label">Supplier</label>
                                    <select class="form-select" formControlName="supplierId">
                                        <option value="0" disabled selected>Select</option>
                                        <option *ngFor="let option of supplier" [value]="option.id">{{ option.companyName }}</option>
                                    </select>
                                </div>
                                <div>
                                    <button class="w-25 btn btn-primary" [disabled]="productDetailForm.invalid" type="submit">Save</button>
                                </div>
                            </div>
                        </form>
                        <!-- Next buttion if needed --> 
                        <!--
                        <div>
                            <button mat-button matStepperNext>Next</button>
                        </div> -->
                    </mat-step>
                    <mat-step  [stepControl]="imageStepForm" [editable]="isEditMode"  [completed]="isEditMode">
                        <ng-template matStepLabel>Upload Images</ng-template>
                        <!-- multiple -->
                        <div>
                            @if (images?.length == 0) {
                                <input type="file" (change)="onImageUpload($event)"  /> 
                            }
                            <div class="mt-2">
                                <button (click)="onFinish()" mat-button matStepperPrevious>Finish</button>
                                <!-- <button mat-button (click)="submitAll()">Finish</button> -->
                            </div>
                            @if (images != undefined) 
                            {
                                <button *ngIf="images?.length"
                                (click)="deleteImage(images[0].id)"
                                class="btn btn-primary">
                                    delete
                                </button>
                                <br>
                                <img *ngIf="images?.length" [src]="images[0].url" alt="product image"  class="h-32 w-32">
                            }
                            @else {
                                <img src="https://res.cloudinary.com/dhp5t9epy/image/upload/v1710539977/samples/cloudinary-icon.png" alt=""  class="h-32 w-32">
                            }
                        </div>
                        
                    </mat-step>
                </mat-horizontal-stepper>
            </div>
        </div>
    </div>
</div>