<div class="container mt-5 p=4 bg-gray-100 rounded shadow-lg">
    <h1 class="text-2xl mb-4"> Internal server error</h1>
    @if (error) {
        <h5 class="text-red-500"> Error : {{error.message}} </h5>
        <p class="font-bold mb-2">This error come form the server, not Client</p>
        <p class="mb-2">What to do next?</p>
        <ol class="list-decimal ml-5 mb-4">
            <li>Check the netowrk tab in chrome dev tools</li>
            <li>Check the server logs</li>
            <li>Reproduce the error in postman.
                    If same error, don't waste time in client side
            </li>
        </ol>
        <h5 class="text-lg font-semibold mb-2">Stack trace</h5>
        <div class="card p-4 bg-white">
            <code class="block whitespace-pre-wrap">
                {{error.details}}
            </code>
        </div>
    }
</div>